{
	"regionId": "{{ nssf_amfRegionId }}",
	"setId": "{{ nssf_amfSetId }}",
	"mcc": "{{ nssf_mcc }}",
	"mnc": "{{ nssf_mnc }}",
	"candidateAmfList": [{
		"instanceId": "12345678-abcd-efAB-CDEF-000000110101"
	}, {
		"instanceId": "12345678-abcd-efAB-CDEF-123456789012"
	}]
}