{
  "serviceType":"Bundle RFS",
  "serviceName":"Subscriber - Voicemail RFSS",
  "command": "{{ voicemail_command }}",
  "Version":"{{ voicemail_Version }}",
  "RequestId":"{{ extOrderId }}",
  "msisdn":"{{ GPSI }}",
  "hostreference": "{{ voicemail_hostreference }}",
  "EntityName": "{{ voicemail_EntityName }}",
  "LanguageFlavor": "{{ voicemail_LanguageFlavor }}",
  "SubscriberCosName": "{{ voicemail_SubscriberCosName }}",
  "GuestLanguageFlavour": "{{ voicemail_GuestLanguageFlavour }}",
  "GlobalLanguageId": "{{ voicemail_GlobalLanguageId }}",
  "GuestLanguage": "{{ voicemail_GuestLanguage }}",
  "SubscriberDomainName": "{{ voicemail_SubscriberDomainName }}",
  "TuiPassword": " ",
  "Timezone": "{{ voicemail_Timezone }}",
  "NotificationTextLanguage": "{{ voicemail_NotificationTextLanguage }}",
  "VmFamilyMailboxStatus": "{{ voicemail_VmFamilyMailboxStatus }}",
  "MWIEnabled": "{{ voicemail_MWIEnabled }}",
  "Token": "{{ voicemail_Token }}",
  "cos": "50"
}
