{
   "serviceType":"Bundle RFS",
   "serviceName":"Subscriber - Messaging Bundle RFSS",
   "id":"{{ kami_response.json.extOrderId }}",
   "imsi":"{{ SUPI }}",
   "ENUM":{
      "ChangeRequest_view":"{{ ENUM_ChangeRequest_view }}",
      "number":"{{ GPSI }}",
      "subscriber-id":"{{ GPSI }}",
      "rrid":"{{ ENUM_rrid1 }}"
   }
}