{
  "serviceType": "{{ serviceType }}",
  "serviceName": "Subscriber - Voice RFSS",
  "RequestId":"{{ extOrderId }}",
  "SubParty":{
    "PartyId":"{{ GPSI }}",
    "PrimaryPUID":"+{{ GPSI }}@ims.mnc340.mcc313.3gppnetwork.org",
    "ServiceSuspension":"true"
  }
}
