{
  "serviceType":"{{ serviceType }}",
  "serviceName": "Subscriber - Voice Roaming RFSS",
  "RequestId":"{{ extOrderId }}",
  "SubParty":{
    "PartyId":"{{ GPSI }}",
    "PrimaryPUID":"+{{ GPSI }}@ims.mnc340.mcc313.3gppnetwork.org",
    "ServiceSuspension":"false"
  },
  "CallBlocking":{
    "PublicUID":"+{{ GPSI }}@ims.mnc340.mcc313.3gppnetwork.org",
    "Assigned":"false",
    "BlockRoamNtwk":"false"
  },
  "CallBarring":{
    "PublicUID":"+{{ GPSI }}@ims.mnc340.mcc313.3gppnetwork.org",
    "Assigned":"false",
    "RoamNtwk":"false"
  }
}
