{
    "serviceType": "{{ serviceType }}",
	"serviceName": "Subscriber - Data Roaming RFSS",
    "id": "{{ extOrderId }}",
    "imsi" : "{{ SUPI }}",
    "hlr": {
        "operation" :"set",
        "epsRoamAreaName": "roam"
    }
}