{
    "serviceType": "{{ serviceType }}",
    "serviceName": "Subscriber - Device Management RFSS",
    "id": "{{ extOrderId }}",
    "device": {
    "identifier": "{{ PEI }}",
        "colour": {
            "colour": "{{ ColouredList }}",
            "reason": "00{{ GSMACode }}",
            "organization": "313/PLMN/034000",
            "clarifyReason": "{{ GSMAReason }}"
        }
   
    }
}
