{
	"serviceType": "Bundle RFS",
	"serviceName": "Subscriber - Voice Bundle RFSS",
	"id": "{{ kami_response.json.extOrderId }}",
	"imsi": "{{ SUPI }}",
	"ENUM": {
		"ChangeRequest_view": "example-enum-view",
		"number": "{{ GPSI }}",
		"subscriber-id": "{{ GPSI }}",
		"rrid": "0"
	}
}