{
   "serviceType": "Bundle RFS",
   "serviceName":"{{ serviceName }}",
   "RequestId":"{{ extOrderId }}",
   "SubParty":{
      "PartyId":"{{ GPSI }}",
      "PrimaryPUID":"+{{ GPSI }}@ims.mnc340.mcc313.3gppnetwork.org",
      "ServiceSuspension":"{{ tas_SubParty_ServiceSuspension1 }}"
   }
}
