{
  "serviceType": "{{ serviceType }}",
  "serviceName": "Subscriber - Data Hotspot Tethering RFSS",
  "id": "{{ kami_response.json.extOrderId }}",
  "imsi": "{{ SUPI }}",
  "hlr": {
    "multipleValueObjects": [
      {
        "path": "hlr/epsPdnContext[@contextId='7']",
        "operation": "remove"
      }
    ]
  },
  "udm": {
    "multipleValueObjects": [
      {
        "path": "udm5gData/servingPlmnId/provisionedData/smfSelectionSubscriptionData/sNssaiInfo/dnnInfo[@dnnId='hotspot']",
        "operation": "remove"
      },
      {
        "path": "udm5gData/servingPlmnId/provisionedData/sessionManagementSubscriptionData/dnnConfiguration[@dnnId='hotspot']",
        "operation": "remove"
      }
    ]
  },
  "pcf": [
    {
      "path": "pcf/smPolicyData/smPolicySnssaiData/smPolicyDnnData[@dnn='hotspot']",
      "operation": "remove"
    }
  ]
}
