{
  "gnbId": {{ gnb_id  | int }},
  "cnfId": {{ du_id | int }},
  "version": "{{ du_version }}",
  "configType": "{{ du_3gpp_config }}",
  "attributeListIn": {
                "mcc": {{ du_mcc }},
                "mnc": {{ du_mnc }},
                "sNssai": "{{ du_sst | int }}{{ du_sd }}"
                }
}