{
	"serviceType": "Bundle RFS",
	"serviceName": "{{ serviceName }}",
	"id": "{{ kami_response.json.extOrderId }}",
	"imsi": "{{ SUPI }}",
		"dataRoamingRFS": {
			"hlr": {
				"operation": "{{ operation2 }}",
				"epsRoamAreaName": "{{ hlr_epsRoamAreaName }}"
			}
		}
}