{
 "serviceType":"Bundle RFS",
 "command": "{{ voicemail_command2 }}",
 "Version":"{{ voicemail_Version }}",
 "RequestId":"{{ extOrderId }}",
 "oldMsisdn":"{{ Old_GPSI }}",
 "EntityName": "{{ voicemail_EntityName }}",
 "newMsisdn":"{{ GPSI }}",
 "Token": "{{ voicemail_Token }}"
}