{
    "serviceType": "{{ serviceType }}",
	"serviceName": "Subscriber - Voice RFSS",
    "id": "{{ kami_response.json.extOrderId }}",
    "imsi": "{{ SUPI }}",
    "ENUM": {
        "ChangeRequest_view": "enum-dns.zones.enum.enumZoneCommon.data",
        "number": "{{ GPSI }}",
        "subscriber-id": "{{ GPSI }}",
        "rrid": "0"
    }
}
