{
	"serviceType": "Bundle RFS",
	"serviceName": "{{ serviceName }}",
	"id": "{{ kami_response.json.extOrderId }}",
	"imsi": "{{ SUPI }}"
	    ,
		"dataRFS": {
			"hlr": {
				"path": "{{ hlr_path1 }}",
				"operation": "{{ operation4 }}"
			},
			"hss": {
				"path": "{{ hss_path }}",
				"operation": "{{ operation4 }}"
			},
			"udm": {
				"path": "{{ udm_path2 }}",
				"operation": "{{ operation4 }}"
			},
			"pcf": [{
				"path": "{{ pcf_path2 }}",
				"operation": "{{ operation4 }}"
			}]
		}
	{#
	{% if "DATA_ROAM" in  listrequestedServices  %}
		,

		"dataRoamingRFS": {
			"hlr": {
				"operation": "{{ operation2 }}",
				"epsRoamAreaName": "{{ hlr_epsRoamAreaName }}"
			}
		}
	{% endif %}
	#}
	{% if "HOTSPOT" in  listrequestedServices  %}	
		,

		"hotspotRFS": {
			"hlr": {
				"multipleValueObjects": [{
					"path": "{{ hlr_path6 }}",
					"operation": "{{ operation4 }}"
				}]
			},
			"udm": {
				"multipleValueObjects": [{
						"path": "udm5gData/servingPlmnId/provisionedData/smfSelectionSubscriptionData/sNssaiInfo/dnnInfo[@dnnId='{{ dnn6 }}']",
						"operation": "{{ operation4 }}"
					},
					{
						"path": "udm5gData/servingPlmnId/provisionedData/sessionManagementSubscriptionData/dnnConfiguration[@dnnId='{{ dnn6 }}']",
						"operation": "{{ operation4 }}"
					}
				]
			},
			"pcf": [{
				"path": "pcf/smPolicyData/smPolicySnssaiData/smPolicyDnnData[@dnn='{{ dnn6 }}']",
				"operation": "{{ operation4 }}"
			}]
		}
   {% endif %}
}