{
    "serviceType": "{{ serviceType }}",
	"serviceName": "{{ Name1 }}",
    "id": "{{ extOrderId }}",
    "imsi": "{{ SUPI }}",
    "hlr": {
        "multipleValueObjects": [
            {
                "path": "hlr/bicroam",
                "operation": "addorset",
                "valueObject": {
                    "basicServiceGroup": "TS20-shortMessage",
                    "status": "4"
                }
            },
            {
                "path": "hlr",
                "operation": "addorset",
                "valueObject": {
                    "osb1": "false"
                }
            }
        ]
    },
    "udm": {
        "multipleValueObjects": [
            {
                "path": "udm5gData/servingPlmnId/provisionedData/smsManagementSubscriptionData/mtSmsBarringRoaming='false'",
                "operation": "set",
                "valueObject": {
                    "mtSmsBarringRoaming": "false"
                }
            },
            {
                "path": "udm5gData/servingPlmnId/provisionedData/smsManagementSubscriptionData/moSmsbarringRoaming='false'",
                "operation": "set",
                "valueObject": {
                    "moSmsbarringRoaming": "false"
                }
            }
        ]
    }
}
