{
    "category": "RFS",
    "startDate": "2021-01-27T22:11:24.044Z",
    "serviceSpecification": {
        "id": "5e49ce7b-0679-4740-9ccb-518f7f4409cf",
        "version": "1.0"
    },
    "serviceCharacteristic": [
        {
            "name": "GPSI",
            "value": "254473332310298406",
            "valueType": "string"
        },
        {
            "name": "SUPI",
            "value": "802-555-1212",
            "valueType": "string"
        }
    ],
    "operatingState": "Planned",
    "href": "/blueplanet-inventory-tmf-apiv1/service/255367165063747823",
    "serviceRelationship": [],
    "place": [],
    "serviceDate": "2021-01-27T22:11:24.096Z",
    "relatedParty": [],
    "supportingService": [],
    "supportingResource": [],
    "serviceOrder": [
        {
            "id": "20200921-Mike-001",
            "href": "/om/order/search/20200921-Mike-001"
        }
    ],
    "name": "VoIP-ea8391d7-e608-4335-9474-8d0fc0d467f8",
    "state": "active",
    "@baseType": "TBD",
    "@type": "VoIP"
}
