{
    "serviceType": "{{ serviceType }}",
	"serviceName": "Subscriber - Voice RFSS",
    "RequestId": "{{ kami_response.json.extOrderId  }}",
    "imsi": "{{ SUPI }}",
    "SubParty": {
        "PartyId": "{{ GPSI }}",
        "PrimaryPUID": "+{{ GPSI }}@ims.mnc340.mcc313.3gppnetwork.org"
    }
}
