{
"serviceType": "Bundle RFS",
"serviceName": "Subscriber - Voice Bundle RFSS",
"id": "{{ extOrderId }}",
"imsi": "{{ SUPI }}",
"ENUM": {
"ChangeRequest_view": "enum-dns.zones.enum.enumZoneCommon.data",
"number": "{{ GPSI }}",
"subscriber-id": "{{ GPSI }}",
"rrid": "0",
"rridType": "NAPTR",
"ttl": "900",
"order": "50",
"preference": "50",
"flags": "u",
"service": "E2U+sip",
"regexp": "!^(.*)$!sip:+{{ GPSI }};npdi@ims.mnc340.mcc313.3gppnetwork.org;user=phone!",
"replacement": "[]"
}
}
