{
  "serviceType":"Bundle RFS",
  "RequestId":"{{ kami_response.json.extOrderId }}",
  "msisdn":"{{ GPSI }}",
  "hostreference": "{{ voicemail_hostreference }}",
  "command": "{{ voicemail_command1 }}",
  "EntityName": "{{ voicemail_EntityName }}",
  "Version": "{{ voicemail_Version }}",
  "Token": "{{ voicemail_Token1 }}"
}
