{
	"serviceType": "{{ serviceType }}",
	"serviceName": "Subscriber - Voice Spam and Fraud RFSS",
	"RequestId": "{{ kami_response.json.extOrderId }}",
	"SubParty": {
		"PartyId": "{{ GPSI }}",
		"PrimaryPUID": "+{{ GPSI }}@ims.mnc340.mcc313.3gppnetwork.org"
	},
	"SelectiveCallRejct": {
		"PublicUID": "+{{ GPSI }}@ims.mnc340.mcc313.3gppnetwork.org",
		"Assigned": "false",
	}
}
