{
		"SliceObject": 
		{
		  "id": "slice1",
		  {
			"sNssai": {"sst": 1, "sd": ABCDEF},
			"qosProfile": [{"5qi":1,"dscp":46},{"5qi":9,"dscp":14}],
			"resourceShare":
			{
			  "sharedPRBResource": 100,
			  "prioritizedPRBResource": 40,
			  "dedicatedPRBResource": 10,
			  "dlPFAlpha": 1,
			  "dlPFBeta": 1,
			  "ulPFAlpha": 1,
			  "ulPFBeta": 1
			  "priority": 5
			},
			"availableCells": [{"gNBId":12345,"cellLocalId":15,"availableBWPs":["ManagedElement=1,GNBDUFunction=1,BWP=1"]}],
			"availableNFs": [{"gNB":12345,"gNBCUUP":[12,13]}],
			"fcaps":{"pcg":1}
		  }
		}
	}