{
  "gnbId": {{ gnb_id  | int }},
  "cnfId": {{ du_id | int }},
  "version": "{{ du_version }}",
  "configType": "{{ du_3gpp_config }}"
  "modificationList": [
		{
		"identifier": "sNSSAI",
		"value": {{ du_snssai }},
		"operator": "remove"
		}
	]
}
