{
    "id": "{{ extOrderId }}",
    "imsi": "{{ SUPI }}",
    "serviceType": "Bundle RFS",
    "serviceName": "Subscriber - Messaging Bundle RFSS"
	 {% if "SMS_ROAM" in  listrequestedServices  %}
	    ,
		"smsRoamingRFS": {
			"hlr": {
				"multipleValueObjects": [
					{
						"path": "hlr/bicroam",
						"operation": "addorset",
						"valueObject": {
							"basicServiceGroup": "TS20-shortMessage",
							"status": "4"
						}
					},
					{
						"path": "hlr",
						"operation": "addorset",
						"valueObject": {
							"osb1": "false"
						}
					}
				]
			},
			"udm": {
				"multipleValueObjects": [
					{
						"path": "udm5gData/servingPlmnId/provisionedData/smsManagementSubscriptionData/mtSmsBarringRoaming='false'",
						"operation": "set",
						"valueObject": {
							"mtSmsBarringRoaming": "false"
						}
					},
					{
						"path": "udm5gData/servingPlmnId/provisionedData/smsManagementSubscriptionData/moSmsbarringRoaming='false'",
						"operation": "set",
						"valueObject": {
							"moSmsbarringRoaming": "false"
						}
					}
				]
			}
		}
	{% endif %}
	{% if "MMS" in  listrequestedServices  %}
	   ,
		"mmsRFS": {
			"hlr": {
				"multipleValueObjects": [
					{
						"operation": "{{ operation5 }}",
						"path": "{{ path7 }}",
						"valueObject": {
							"apn": "{{ dnn7 }}",
							"contextId": "3",
							"type": "both",
							"pdnGwDynamicAllocation": "{{ pdnGwDynamicAllocation }}",
							"vplmnAddressAllowed": "{{ vplmnAddressAllowed }}",
							"maxBandwidthUp": "{{ dnn7_sessionAmbr.split("|")[0].split(" ")[0]  }}",
                            "maxBandwidthDown": "{{ dnn7_sessionAmbr.split("|")[1].split(" ")[0] }}",
							"qos": "{{ qos }}",
							"pdnChargingCharacteristics": {
								"chargingCharacteristicsProfile": "{{ chargingCharacteristicsProfile }}",
								"chargingCharacteristicsBehavior": "{{ chargingCharacteristicsBehavior }}"
							},
							"eps5gInterworkIndicator": "{{ eps5gInterworkIndicator }}"  
						}
					
					}
				]
			},
			"udm": {
				"multipleValueObjects": [
					{
						"operation": "{{ operation5 }}",
						"path": "{{ path8 }}",
						"valueObject": {
							"dnnId": "{{ dnn7 }}",
							"defaultIndication": "{{ defaultIndication }}",
							"interworkingEPSIndication": "{{ interworkingEPSIndication }}",
							"localBrkOutRoamingAllowed": "{{ localBrkOutRoamingAllowed }}"
						}
					},
					{
						"operation": "{{ operation5 }}",
						"path": "{{ path9 }}",
						"valueObject": {
							"dnnId": "{{ dnn7 }}",
							"interworkingEPSIndication": "{{ interworkingEPSIndication }}",
							"sessionAmbr": "{{ dnn7_sessionAmbr }}",
							"udm5gQosProfile": {
								"udm5Qi": "9",
								"arp": "{{ arp }}",
								"priorityLevel": "12"
							},
							"pduSessionTypes": {
								"defaultSessionType": "{{ defaultSessionType }}",
								"allowedSessionType": [
									"{{ allowedSessionType }}"
								]
							},
							"sscModes": {
								"defaultSscMode": "{{ defaultSscMode }}",
								"allowedSscMode": [
									"{{ allowedSscMode }}"
								]
							}
						}
					}
				]
			},
			"pcf": [
				{
					"operation": "{{ operation5 }}",
					"path": "{{ path10 }}",
					"valueObject": {
						"dnn": "{{ dnn7 }}",
						"subscCats": [
							"{{ subscCats1 }}",
							"{{ subscCats2 }}"
						],
						"subscSpendingLimits": "{{ subscSpendingLimits }}",
						"online": "{{ online }}"
					}
				}
			]
		}
	{% endif %}
}
