{
   "serviceType":"{{ serviceType }}",
   "serviceName":"Subscriber - Voice Call Forwarding RFSS",
   "RequestId":"{{ kami_response.json.extOrderId }}",
   "SubParty":{
      "PartyId":"{{ GPSI }}",
      "PrimaryPUID":"+{{ GPSI }}@ims.mnc340.mcc313.3gppnetwork.org"
   },
   "CallForwardingVari":{
      "PublicUID":"+{{ GPSI }}@ims.mnc340.mcc313.3gppnetwork.org",
      "Assigned":"false"
   },
   "CallForwardingBusy":{
      "PublicUID":"+{{ GPSI }}@ims.mnc340.mcc313.3gppnetwork.org",
      "Assigned":"false"
   },
   "CallForwardingNoAns":{
      "PublicUID":"+{{ GPSI }}@ims.mnc340.mcc313.3gppnetwork.org",
      "Assigned":"false"
   },
   "CallForwardNotReach":{
      "PublicUID":"+{{ GPSI }}@ims.mnc340.mcc313.3gppnetwork.org",
      "Assigned":"false"
   }
}