{
       "category": "RFS",
       "state": "active",
       "@baseType": "service",
       "@type": "NetworkSlice",
       "serviceCharacteristic": [
           {
               "name": "networkSliceId",
               "value": "eMBB NetworkSlice - Test21"
           },
           {
               "name": "sNSSAI",
               "value": "01-ABTEST21"
           }
       ],
       "serviceOrder":[
      {
         "id":"1626704230",
         "serviceOrderItemId":"133910222",
         "href":"/om/order/search/1626704230"
      }
    ],
       "serviceSpecification": {
           "id": "349f4b6a-a4e1-4013-be79-a0efd4ea8ppp",
           "version": "1.0.0"
       }
   }