{
    "serviceType": "{{ serviceType }}",
	"serviceName": "Subscriber - Messaging SMS RFSS",
    "id": "{{ kami_response.json.extOrderId }}",
    "imsi": "{{ SUPI }}",
     "ENUM": {
        "ChangeRequest_view": "enum-dns.zones.enum.enumZoneChedish.data",
        "number": "{{ GPSI }}",
        "subscriber-id": "{{ GPSI }}",
        "rrid": "1"
    }
}
