{
"serviceType": "Bundle RFS",
"serviceName": "{{ serviceName }}",
"id": "{{ extOrderId }}",
"imsi": "{{ SUPI }}",
"ENUM": {
"ChangeRequest_view": "{{ ENUM_ChangeRequest_view }}",
"number": "{{ GPSI }}",
"subscriber-id": "{{ GPSI }}",
"rrid": "{{ ENUM_rrid }}",
"rridType": "{{ ENUM_rridType }}",
"ttl": "{{ ENUM_ttl }}",
"order": "{{ ENUM_order }}",
"preference": "{{ ENUM_preference }}",
"flags": "{{ ENUM_flags }}",
"service": "{{ ENUM_service }}",
"regexp": "!^(.*)$!sip:+{{ GPSI }};npdi@ims.mnc340.mcc313.3gppnetwork.org;user=phone!",
"replacement": "{{ ENUM_replacement }}"
}
}
